<p class="card-text">
  Maecenas dui tortor, tristique sed sapien nec, congue elementum massa. Sed metus nibh, porta a quam ac, volutpat sollicitudin lectus. Morbi laoreet quis dolor quis porttitor. 
</p>
<div class="expandable-content">
  <ul>
     <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
     <li>Aliquam tincidunt mauris eu risus.</li>
     <li>Vestibulum auctor dapibus neque.</li>
     <li> another</li>
  </ul>
</div>
