.card{
  margin-bottom:1rem;
  
  .card-img-top{
    width:100%;
  }
  .expandable-content{
    overflow: hidden;
    max-height:0;
  }
  .btn-close{
    display:none;
  }

}

.card.expand{

  .btn-expand{
    display:none;
  }

  .expandable-content{
    max-height:1000px;
  }

  .btn-close{
    display:block;
  }
}


@media (min-width: 576px){
  .card-columns{
    column-count:2 !important;
  }
}