{{!-- You do not actually have to extend default (as it is default but this is just to show you to extend others) --}}
{{#extend "default" id="home"}}
  
  {{#content "styles"}}
    <link rel="stylesheet" type="text/css" href="/css/pages/home.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  {{/content}}

  {{#content "header"}}
    {{> header-carousel}}
  {{/content}}

  {{#content "h1"}}
    <h1>Example page header <br> <small>Subtext for header</small></h1>
  {{/content}}

  {{#content "main" mode="prepend"}}
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
          Hellow World!
        </div>
      </div>
    </section> <!-- end of .container -->

    {{> main-carousel}}
    
  {{/content}}

  {{#content "scripts"}}
    <script type="text/javascript" src="/js/lib/slick.min.js"></script>
    <script src="js/index.js"></script>

  {{/content}}
{{/extend}}
